<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.template.cloud.application.transaction.dao.TransactionFailMapper">

    <select id="findAll" resultType="org.template.cloud.application.transaction.bean.TransactionFail">
        SELECT *
        FROM transaction_fail
    </select>

    <insert id="save" parameterType="org.template.cloud.application.transaction.bean.TransactionFail">
        INSERT INTO transaction_fail (id, transaction_id, operation_id,fail_cause, create_time)
        VALUES ( #{id}, #{transactionId}, #{operationId}, #{failCause}, #{createTime})
    </insert>

    <insert id="saveList" parameterType="org.template.cloud.application.transaction.bean.TransactionFail">
        INSERT INTO transaction_fail (id, transaction_id, operation_id,fail_cause, create_time)
        VALUES
        <foreach collection="list" item="obj" separator=",">
            (#{obj.id}, #{obj.transactionId}, #{obj.operationId}, #{obj.failCause}, #{createTime})
        </foreach>
    </insert>

</mapper>