<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.template.cloud.transaction.dao.TransactionFailMapper">

    <insert id="save" parameterType="org.template.cloud.transaction.bean.TransactionFail">
        INSERT INTO transaction_fail (id, transaction_id, operation_id,fail_cause, create_time)
        VALUES ( #{id}, #{transactionId}, #{operationId}, #{failCause}, #{createTime})
    </insert>

    <insert id="saveList" parameterType="org.template.cloud.transaction.bean.TransactionFail">
        INSERT INTO transaction_fail (id, transaction_id, operation_id,fail_cause, create_time)
        VALUES
        <foreach collection="list" item="obj" separator=",">
            (#{obj.id}, #{obj.transactionId}, #{obj.operationId}, #{obj.failCause}, #{createTime})
        </foreach>
    </insert>


    <select id="findAll" resultType="org.template.cloud.transaction.bean.FailView">
        SELECT f.id AS fail_id, f.transaction_id, f.operation_id, f.fail_cause, f.create_time AS fail_time
        l.name AS transaction_name, o.name AS operation_name, o.topic
        FROM transaction_fail f LEFT JOIN transaction_log l ON l.id = f.transaction_id
        LEFT JOIN transaction_operation o ON o.id = f.operation_id
    </select>

</mapper>