<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.template.cloud.transaction.dao.TransactionOperationMapper">


    <select id="findAll" resultType="org.template.cloud.transaction.bean.TransactionOperation">
        SELECT *
        FROM transaction_operation
    </select>

    <insert id="save" parameterType="org.template.cloud.transaction.bean.TransactionOperation">
        INSERT INTO transaction_operation (id, transaction_id,topic, name,operation,params,status, create_time)
        VALUES ( #{id}, #{transactionId}, #{topic}, #{name}, #{operation}, #{params},#{status}, #{createTime})
    </insert>

    <insert id="saveList" parameterType="org.template.cloud.transaction.bean.TransactionOperation">
        INSERT INTO transaction_operation (id, transaction_id,topic, name,operation,params,status, create_time)
        VALUES
        <foreach collection="list" item="obj" separator=",">
            ( #{obj.id}, #{obj.transactionId}, #{obj.topic}, #{obj.name}, #{obj.operation},
            #{obj.params},#{obj.status}, #{obj.createTime})
        </foreach>
    </insert>

    <update id="update" parameterType="org.template.cloud.transaction.bean.TransactionOperation">
        UPDATE transaction_operation
        SET status = #{status}
        WHERE id=#{id}
    </update>

    <update id="executing" parameterType="string">
        UPDATE transaction_operation
        SET status = 1
        WHERE id=#{id} AND status = 0
    </update>

    <select id="getStatusById" parameterType="string" resultType="int">
        SELECT status FROM transaction_operation WHERE id = #{id}
    </select>

    <select id="getAllNonExecution" parameterType="org.template.cloud.transaction.bean.TransactionLog"
            resultType="org.template.cloud.transaction.bean.TransactionOperation">
        SELECT id,no,transaction_id,topic,name,operation,params,status,create_time
        FROM transaction_operation WHERE status = 0 AND transaction_id IN
        <foreach collection="list" item="obj" open="(" close=")" separator=",">
            #{obj.id}
        </foreach>
        ORDER BY transaction_id,no
    </select>
    <select id="getAllOperations" parameterType="org.template.cloud.transaction.bean.TransactionLog"
            resultType="org.template.cloud.transaction.bean.TransactionOperation">
        SELECT id,no,transaction_id,topic,name,operation,params,status,create_time
        FROM transaction_operation
        WHERE transaction_id IN
        <foreach collection="list" item="obj" open="(" close=")" separator=",">
            #{obj.id}
        </foreach>
        ORDER BY transaction_id,no
    </select>

    <select id="getByTransactionId" parameterType="string"
            resultType="org.template.cloud.transaction.bean.TransactionOperation">
        SELECT id,no,transaction_id,topic,name,operation,params,status,create_time
        FROM transaction_operation
        WHERE transaction_id = #{id}
        ORDER BY no
    </select>

    <delete id="deleteByDate" parameterType="java.time.LocalDate">
        DELETE FROM transaction_operation WHERE create_time &lt;= #{date}
    </delete>
</mapper>