<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.template.cloud.transaction.dao.TransactionLogMapper">

    <update id="execute" parameterType="string">
        UPDATE transaction_log
        SET status = 1
        WHERE id=#{id} AND (status = 0 OR status = 1)
    </update>

    <select id="getStatusById" parameterType="string" resultType="int">
        SELECT status FROM transaction_log WHERE id = #{id}
    </select>


    <select id="findAll" resultType="org.template.cloud.bean.transaction.TransactionLog">
        SELECT *
        FROM transaction_log
    </select>

    <insert id="save" parameterType="org.template.cloud.bean.transaction.TransactionLog">
        INSERT INTO transaction_log (id, operation_id, status,name, create_time)
        VALUES ( #{id}, #{operationId}, #{status}, #{name}, #{createTime})
    </insert>

    <insert id="saveList" parameterType="org.template.cloud.bean.transaction.TransactionLog">
        INSERT INTO transaction_log (id, operation_id, name,status, create_time)
        VALUES
        <foreach collection="list" item="obj" separator=",">
            (#{obj.id}, #{obj.operationId}, #{obj.name}, #{obj.status}, #{obj.createTime})
        </foreach>
    </insert>

    <update id="update" parameterType="org.template.cloud.bean.transaction.TransactionLog">
        UPDATE transaction_log
        SET operation_id = #{operationId},status = #{status}
        WHERE id=#{id}
    </update>

    <select id="getAllNonExecution" resultType="org.template.cloud.bean.transaction.TransactionLog">
        SELECT id,operation_id,name,status,create_time FROM transaction_log
        WHERE status = 0
    </select>
    <delete id="deleteByDate" parameterType="java.time.LocalDate">
        DELETE FROM transaction_log WHERE create_time &lt;= #{date}
    </delete>
</mapper>